<h2>Presidents</h2>

<div class="container">

    <div class="row row-cols-1 row-cols md-2" *ngIf="presidents?.length > 0">
        <div class="card-group">
            <div class="col md-4" *ngFor="let president of presidents">
                <div class="card h-100 mb-3" [class.border-primary]="president.current">
                    <img *ngIf="president.img"
                        [src]="president.img"
                        alt="{{ president.firstName }} {{ president.lastName }}"
                        class="img-thumbnail"
                    />
                    <div class="card-body">
                        <h3 class="card-title" [ngStyle]="underlineStyle">{{ president.firstName}} {{ president.middleInitial }} 
                            {{ president.lastName }}
                            <button class="btn btn-primary" (click)="president.display = !president.display">
                                <span *ngIf="!president.display">Show</span>
                                <span *ngIf="president.display">Hide</span>
                            </button>
                        </h3>
                        <ul *ngIf="president.display">
                            <li>Age: {{ president.age }}</li>
                            <li>Birthday: {{ president.birthday | date }}</li>
                            <li>PresId: {{ president.presId }}</li>
                            <li>Spouse: {{ president.details.spouse }}</li>
                            <li>Party Affiliation: {{ president.details.partyAffiliation }}</li>
                            <li>Terms In Office: {{ president.details.termsInOffice }}</li>
                            <li>Vice President: {{ president.details.vicePresident }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="presidents?.length == 0 || !presidents">
        <h2>No Users Found</h2>
    </div>

    <div *ngIf="!dataLoaded" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


