<div class="container">
    <h1>Upload Page</h1>

    <div class="card card-body mb-3">
        <h2>Add A New President</h2>

        <form #presidentForm="ngForm" (ngSubmit)="uploadNewPresident()">
            <div class="form-group">
                <label>First Name</label>
                <input 
                    #presFirstName="ngModel"
                    type="text"
                    [(ngModel)]="president.firstName"
                    [ngClass]="{'is-invalid':presFirstName.errors && presFirstName.touched}"
                    class="form-control"
                    name="firstName"
                    required
                    minlength="2" />

                <!-- invalid reporting -->
                <div [hidden]="!presFirstName.errors?.required"
                    class="invalid-feedback">First Name Required!</div>

                <div [hidden]="!presFirstName.errors?.minlength"
                    class="invalid-feedback">First name must have at least 2 characters.</div>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input 
                    #presLastName="ngModel"
                    type="text"
                    [(ngModel)]="president.lastName"
                    [ngClass]="{'is-invalid':presLastName.errors && presLastName.touched}"
                    class="form-control"
                    name="lastName"
                    required
                    minlength="2" />

                    <!-- invalid reporting -->
                    <div [hidden]="!presLastName.errors?.required"
                        class="invalid-feedback">Last Name Required!</div>
    
                    <div [hidden]="!presLastName.errors?.minlength"
                        class="invalid-feedback">Last name must have at least 2 characters.</div>
            </div>
            <div class="form=group">
                <label>Birthday</label>
                <input type="text"
                    placeholder="MM/DD/YYYY"
                    [(ngModel)]="president.birthday"
                    class="form-control"
                    name="birthday" />
            </div>
            <div class="form-group">
                <label>President ID</label>
                <input type="number"
                    [(ngModel)]="president.presId"
                    class="form-control"
                    name="presId" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input type="text"
                    [(ngModel)]="president.img"
                    class="form-control"
                    name="img" />
            </div>

            <div>
                <button 
                type="submit"
                [disabled]="!presidentForm.form.valid"
                class="btn btn-block btn-primary mb-3">Add New President</button>
            </div>
        </form>
    </div>
</div>
